* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr repeat(4, 50px);
}

header, main, .feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid white;
}

header {
  background-color: #add0ff;
}

main {
  background-color: #c6c6c6;
}

.sign_up {
  background-color: #c2f9fd;
}

.contact {
  background-color: #ffe8a1;
}

.about {
  background-color: #ffa9a9;
}

.social {
  background-color: #ddc1ff;
}

@media (min-width: 800px) {
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  .sign_up {
    grid-area: sign_up;
  }

  .about {
    grid-area: about;
  }

  .contact {
    grid-area: contact;
  }

  .social {
    grid-area: social;
  }

  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr repeat(2, 100px);
    grid-template-areas:
      "header header"
      "main main"
      "sign_up contact"
      "about social";
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 200px 100px 1fr;
    grid-template-areas:
        "header header header"
        "about contact social"
        "sign_up sign_up sign_up"
        "main main main";
  }
}