* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr repeat(4, 50px);
}

header, main, .feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

header {
  background-color: #489def;
}

main {
  background-color: #7e7e7e;
}

.sign_up {
  background-color: lightblue;
}

.sign_in {
  background-color: #ddc05b;
}

.about {
  background-color: lightcoral;
}

.social {
  background-color: #a582cd;
}

@media (min-width: 800px) {
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  .sign_up {
    grid-area: sign_up;
  }

  .sign_in {
    grid-area: sign_in;
  }

  .about {
    grid-area: about;
  }

  .social {
    grid-area: social;
  }

  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr repeat(2, 100px);
    grid-template-areas:
      "header header"
      "main main"
      "sign_up sign_in"
      "about social";
  }
}